body {
  /* Location of the image */
  background-image: url(images/dania.png);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: white;
}

html { 
  font-family: proxima nova, sans-serif;

}

.center{
    position: relative;
    margin:     19% 29% 0 10%; 
    margin-right: 23%;
}

.name{
    font-size: 85px;
}

.btnlink{
    /*background-color: #F47DBB;*/
    background-color: transparent;
    /*border: 2px solid black;
    border-radius: 50px;*/
    margin: auto auto auto 0;
    padding: 15px 20px 10px 0px;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
}
.link{
    color: black;
    text-align: center;
}
a:link{
    color: black;
    text-decoration: none;

}
a:hover {
    color: white;
    font-size: 22px;
    /*border: 2px solid #f792a4;
    background-color: #f792a4;*/
/*box-shadow: 10px 10px 178px 47px rgba(241,234,224,1);*/
/*
    box-shadow: 10px 10px 131px -3px rgba(244,125,187,1);
*/

}

#contactinfo {
    margin: 0px; 
    position: relative;
 
    padding: 5px 8px 5px 0;
    font-size: 30px;
    letter-spacing: 2px;

}







.fa {
  padding: 10px;
    
  font-size: 30px;
  width:50px;
    height:50px;
  text-align: center;
  text-decoration: none;
  margin: 6px 13px 3% 13px;
border-radius: 100px;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
    margin: 15px 13px 3%  0px;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-github {
  background: black;
  color: white;
    
}








